<!-- start widget -->
<section class="widget">
	<span><h5>Pinterest</h5></span>
	<div id="pinterest" class="pinterest">
		<!-- Start of embed code -->
		
		<a data-pin-do="embedUser" data-pin-board-width="350" data-pin-scale-height="450" data-pin-scale-width="80" href="https://www.pinterest.com/pinterest/"></a>
		
		<!-- Embed of embed code -->
	</div>
</section>
<!-- end widget -->
